
<legend>Use point of origin given or enter a new one</legend>

<div class="row">
  <div id="locTable" class="col-md-4">


  <%= simple_form_for :thing, :url => locations_url, :html => { :class => 'form-vertical' } do |f| %>  
                      
    <%= f.input :latitude, :wrapper => :prepend, :label => false do %>
      <%= content_tag :span, "Latitude", :class => "add-on" %>
      <%= f.input_field :latitude, :value => "33.1243208" %>
    <% end %>

    <%= f.input :longitude, :wrapper => :prepend, :label => false do %>
      <%= content_tag :span, "Longitude", :class => "add-on" %>
      <%= f.input_field :longitude, :value => "-117.32582479999996" %>
    <% end %>     
    
    <div class="form-actions">
       <%= f.button :submit, 'Submit', :class => 'btn-primary' %>
     </div>  

  <% end %>
  </div>    
</div>

<br>
<br>