<%= flash[:notice] %>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
  </thead>
  <tbody>
    <% locations.each do |loc| %>
      <tr>
        <td><%= loc.id %></td>
        <td><%= loc.name %></td>
        <td><%= loc.latitude %></td>
        <td><%= loc.longitude %></td>
      </tr>
    <% end %>
  </tbody>
</table>